#Navbar{
    display: flex;
    background-color: #FFB219;
}

.logo{
    transition: 0.3s;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
}
svg{
    margin-right: 20px;
}
#Shoplogo{
    height: 50px;
}
#Mobile i{
    color: #FFEDCB;
    transition: 0.3s;
}

#Mobile{
    display: none;
}
#Column{
    display: none;
}

